.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 a {
  font-size: 4rem;
  color: blueviolet;
  text-decoration: none;
}

.nav .nav-search {
  display: flex;
  flex: 1;
  margin: 0 5%;
}

.nav .nav-search .search-input {
  flex: 1;
  border: 1px solid blueviolet;
  color: blueviolet;
  height: 3.3rem;
  padding: 1rem;
}

.nav .nav-search .search-button {
  border: 1px solid blueviolet;
  height: 3.3rem;
  color: blueviolet;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.nav .nav-links {
  list-style-type: none;
  display: inline-flex;
}

.nav .nav-links .link {
  padding: 0 1.5rem;
}

.nav .nav-links .link a {
  text-decoration: none;
  color: blueviolet;
  font-size: 1.6rem;
  cursor: pointer;
}

.suggested-result {
  list-style-type: none;
  position: absolute;
  top: 40px;
  width: 300px;
  display: list-item !important;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0;
}

.suggested-result li {
  border: 1px solid #ddd;
  padding: 1rem;
}

.suggested-result li a {
  cursor: pointer;
  color: blueviolet;
}

.language .lang {
  font-weight: bold;
  cursor: pointer;
}

.noneBorderLeft {
  border-left: none!important;
}

.noneBorderRight {
  border-right:  none!important;
}
