<nav class="nav">
  <h1><a routerLink="/">E-commerce</a></h1>
  <div *ngIf="menuType === 'default'" class="nav-search">
    <input
      class="search-input"
      #searchInput
      type="text"
      (keyup)="searchProducts($event)"
      (blur)="hideSearch()"
      placeholder="Search for Products"
    />
    <button class="search-button" (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-result" *ngIf="searchReasult">
      <li *ngFor="let product of searchReasult">
        <a href="">{{ product.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'" class="nav-links">
      <li class="link"><a routerLink="/"> Home</a></li>
      <li class="link"><a routerLink="/seller-auth"> Seller</a></li>
      <li class="link"><a routerLink="/login"> Login</a></li>
      <li class="link"><a routerLink="/cart"> Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'" class="nav-links">
      <li class="link"><a routerLink="/seller-add-product"> Add Product</a></li>
      <li class="link"><a routerLink="/seller-home"> Product List</a></li>
      <li class="link"><a (click)="logout()"> Logout</a></li>
      <li class="link">
        <a> {{ sellerName | titlecase }}</a>
      </li>
    </ul>
  </div>
</nav>
