<div class="add-product">
  <h1>{{'product.addNewProduct' | translate}}</h1>
  <p class="message-p">{{addProductMessage}}</p>
  <form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
    <input
      class="form-input"
      type="text"
      ngModel
      name="name"
      placeholder="{{'product.productNamePlaceholder' | translate}}"
    />
    <input
      class="form-input"
      type="text"
      ngModel
      name="color"
      placeholder="{{'product.productColorPlaceholder' | translate}}"
    />
    <input
      class="form-input"
      type="text"
      ngModel
      name="price"
      placeholder="{{'product.productPricePlaceholder' | translate}}"
    />
    <input
      class="form-input"
      type="text"
      ngModel
      name="category"
      placeholder="{{'product.productCategoryPlaceholder' | translate}}"
    />
    <textarea
      class="form-input"
      type="text"
      ngModel
      name="description"
      placeholder="{{'product.productDescriptionPlaceholder' | translate}}"
    ></textarea>
    <input
      class="form-input"
      type="text"
      ngModel
      name="image"
      placeholder="{{'product.productImageURLPlaceholder' | translate}}"
    />
    <button class="form-button">{{'product.addProduct' | translate}}</button>
  </form>
</div>
