<ngb-carousel *ngIf="popularProducts?.length">
  <ng-template *ngFor="let product of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="product-header-img"
        [src]="product.image"
        alt="Product slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
