<div class="update-product">
  <h1>{{'seller.updateProduct' | translate}}</h1>
  <p class="message-p">{{productMessage}}</p>
  <form class="common-form" #updateProduct="ngForm" (ngSubmit)="submit(updateProduct.value)">
    <input
      class="form-input"
      type="text"
      ngModel="{{ productData?.name }}"
      name="name"
      placeholder="{{'seller.productNamePlaceholder' | translate}}"
    />
    <input
      class="form-input"
      type="text"
      ngModel="{{ productData?.color }}"
      name="color"
      placeholder="{{'seller.productColorPlaceholder' | translate}}"
    />
    <input
      class="form-input"
      type="text"
      ngModel="{{ productData?.price }}"
      name="price"
      placeholder="{{'seller.productPricePlaceholder' | translate}}"
    />
    <input
      class="form-input"
      type="text"
      ngModel="{{ productData?.category }}"
      name="category"
      placeholder="{{'seller.productCategoryPlaceholder' | translate}}"
    />
    <textarea
      class="form-input"
      type="text"
      ngModel="{{ productData?.description }}"
      name="description"
      placeholder="{{'seller.productDescriptionPlaceholder' | translate}}"
    ></textarea>
    <input
      class="form-input"
      type="text"
      ngModel="{{ productData?.image }}"
      name="image"
      placeholder="{{'seller.productImagePlaceholder' | translate}}"
    />
    <button class="form-button">{{'seller.updateProduct' | translate}}</button>
  </form>
</div>
