<div class="my-orders">
  <h1>{{'orders.myOrders' | translate}}</h1>
  <div class="row">
    <div class="col-sm-2">
      <span>{{'orders.orders' | translate}}</span>
    </div>
    <div class="col-sm-2">
      <span>{{'orders.orderId' | translate}}</span>
    </div>
    <div class="col-sm-2">
      <span>{{'orders.price' | translate}}</span>
    </div>
    <div class="col-sm-2">
      <span>{{'orders.status' | translate}}</span>
    </div>
    <div class="col-sm-2">
      <span>{{'orders.cancelOrder' | translate}}</span>
    </div>
  </div>
  <div class="row" *ngFor="let order of orderData">
    <div class="col-sm-2">
      <img
        class="order-img"
        src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png"
        alt=""
      />
    </div>
    <div class="col-sm-2">
      <span>#{{ order.id }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ order.totalPrice }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{'orders.inProgress' | translate}}</span>
    </div>
    <div class="col-sm-2">
      <button class="form-button" (click)="cancelOrder(order.id)">
        {{'orders.cancelOrder' | translate}}
      </button>
    </div>
  </div>
</div>
