<div class="seller-auth">
  <!-- Sign-Up Area -->
  <div *ngIf="!showLogin" class="sign-up">
    <h1>{{'seller.sellerSignUp' | translate}}</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="name"
        placeholder="{{'seller.namePlaceholder' | translate}}"
      />
      <input
        class="form-input"
        type="password"
        ngModel
        name="password"
        placeholder="{{'seller.passwordPlaceholder' | translate}}"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        name="email"
        placeholder="{{'seller.emailPlaceholder' | translate}}"
      />
      <button class="form-button">{{'seller.signUp' | translate}}</button>
      <a class="auth-toggle-link" (click)="openLogin()"
        >{{'seller.loginLink' | translate}}</a>
    </form>
  </div>
  <!-- Login Area -->
  <div *ngIf="showLogin" class="login">
    <h1>{{'seller.sellerLogin' | translate}}</h1>
    <p *ngIf="authError" class="error-p">{{authError}}</p>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="email"
        placeholder="{{'seller.emailPlaceholder' | translate}}"
      />
      <input
        class="form-input"
        type="password"
        ngModel
        name="password"
        placeholder="{{'seller.passwordPlaceholder' | translate}}"
      />
      <button class="form-button">{{'seller.login' | translate}}</button>
      <a class="auth-toggle-link" (click)="openSignUp()"
        >{{'seller.signUpLink' | translate}}</a
      >
    </form>
  </div>
</div>
