<div class="user-auth">
  <div class="user-signup" *ngIf="!showLogin">
    <h1>{{'user.userSignUp' | translate}}</h1>
    <form
      class="common-form"
      #userSignup="ngForm"
      (ngSubmit)="signUp(userSignup.value)"
    >
      <input
        class="form-input"
        type="text"
        name="name"
        id=""
        placeholder="{{'user.namePlaceholder' | translate}}"
        ngModel
      />
      <input
        class="form-input"
        type="text"
        name="email"
        id=""
        placeholder="{{'user.emailPlaceholder' | translate}}"
        ngModel
      />
      <input
        class="form-input"
        type="password"
        name="password"
        id=""
        placeholder="{{'user.passwordPlaceholder' | translate}}"
        ngModel
      />
      <button class="form-button">{{'user.signUp' | translate}}</button>
      <a class="auth-toggle-link" (click)="openLogin()"
        >{{'user.loginLink' | translate}}</a
      >
    </form>
  </div>
  <div class="user-login" *ngIf="showLogin">
    <h1>{{'user.userLogin' | translate}}</h1>
    <form
      class="common-form"
      #userLogin="ngForm"
      (ngSubmit)="login(userLogin.value)"
    >
    <div class="error-p">{{authError}}</div>
      <input
        class="form-input"
        type="text"
        name="email"
        id=""
        placeholder="{{'user.emailPlaceholder' | translate}}"
        ngModel
        #email="ngModel"
        required
        email
      />
      <p class="invalid-input" *ngIf="email.invalid && email.touched"><span>{{'user.validationEmailMessage' | translate}}</span></p>
      <input
        class="form-input"
        type="password"
        name="password"
        id=""
        placeholder="{{'user.passwordPlaceholder' | translate}}"
        ngModel
        #password="ngModel"
        required
        minlength="2"
        maxlength="20"
      />
      <p class="invalid-input" *ngIf="password.invalid && password.touched"><span>{{'user.validationPasswordMessage' | translate}}</span></p>
      <button [disabled]="userLogin.invalid" class="form-button">{{'user.login' | translate}}</button>
      <a class="auth-toggle-link" (click)="openSignUp()"
      >{{'user.signUpLink' | translate}}</a
      >
    </form>
  </div>
</div>
