<div class="row search-item" *ngFor="let product of searchResult">
  <div class="col-sm-3">
   <a routerLink="/details/{{product.id}}"> <img [src]="product.image" alt="" /></a>
  </div>
  <div class="col-sm-8 details">
    <h6><a routerLink="/details/{{product.id}}">{{ product.name }}</a></h6>
    <p>
      <b>{{'product.price' | translate}}: {{ product.price }}</b>
    </p>
    <p>
      <span>{{'product.color' | translate}}:{{ product.color }}</span
      ><span>{{'product.category' | translate}}: {{ product.category }}</span>
    </p>
    <p>{{ product.description }}</p>
  </div>
</div>

<div class="no-data-found" *ngIf="searchResult?.length === 0">
  <img src="https://cdn.dribbble.com/userupload/2905383/file/original-4ea237e94e803ddd575a66eb32198899.png?compress=1&resize=400x300&vertical=top" alt="">
</div>
