<div class="row search-item">
  <div class="col-sm-3">
     <img src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg" alt="">
  </div>
  <div class="col-sm-8 details">
      <h6>   iphone </h6>
      <p><b>Price:1000</b></p>
      <p><span>Color:black</span><span>Category: mobiles</span></p>
      <p>nice mobile</p>
  </div>
</div>
<div class="row search-item">
  <div class="col-sm-3">
     <img src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg" alt="">
  </div>
  <div class="col-sm-8 details">
      <h6>   iphone </h6>
      <p><b>Price:1000</b></p>
      <p><span>Color:black</span><span>Category: mobiles</span></p>
      <p>nice mobile</p>
  </div>
</div>
<div class="row search-item">
  <div class="col-sm-3">
     <img src="https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_APPLE_iPhone_13_5G_128GB_Midnight_4_.jpg" alt="">
  </div>
  <div class="col-sm-8 details">
      <h6>   iphone </h6>
      <p><b>Price:1000</b></p>
      <p><span>Color:black</span><span>Category: mobiles</span></p>
      <p>nice mobile</p>
  </div>
</div>
