<div class="checkout">
  <h1>{{'checkout.title' | translate}}</h1>
  <p class="message-p">{{ orderMsg }}</p>
  <div class="row">
    <div class="col-sm-7">
      <h3>{{'checkout.addShippingAddress' | translate}}</h3>
      <form
        class="common-form"
        #orderData="ngForm"
        (ngSubmit)="orderNow(orderData.value)"
      >
        <input
          class="form-input"
          type="text"
          name="email"
          placeholder="{{'checkout.emailPlaceholder' | translate}}"
          ngModel
          #email="ngModel"
        />
        <input
          class="form-input"
          type="text"
          name="address"
          placeholder="{{'checkout.addressPlaceholder' | translate}}"
          ngModel
          #address="ngModel"
        />
        <input
          class="form-input"
          type="text"
          name="contact"
          placeholder="{{'checkout.contactPlaceholder' | translate}}"
          ngModel
          #contact="ngModel"
        />
        <button class="form-button">{{'checkout.orderNow' | translate}}</button>
      </form>
    </div>
    <div class="col-sm-5">
      <h3>{{'checkout.totalAmount' | translate}} : {{ totalPrice }}</h3>
      <h4>{{'checkout.paymentMethod' | translate}} : <b>{{'checkout.payOnDelivery' | translate}}</b></h4>
    </div>
  </div>
</div>
